<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack - Authentication Email</title>
    <link rel="stylesheet" href="/static/styles/email-auth.css">
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
    <div class="authContainer">
        <div style="margin-left: 50px">
            <h1 class="acTitle">Email Verified</h1>
            <p style="font-family: var(--poppins);">Verification email has been sent, please check your spam folder.</p>
        </div>
    </div>
    <script src="static/scripts/utils/forge.js"></script>
    <script src="static/scripts/email-auth.js"></script>
</body>
</html>