<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack - Forgot Password</title>
    <link rel="shortcut icon" href="static/assets/favicon2.ico">
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/forgotPassword.css">
</head>
<body>
    <div class="container">
        <img src="static/assets/favicon2.png" alt="Codestack Logo" height="75px" width="75px">
        <p class="containerTitle">Reset your password</p>
        <div class="emailContainer">
            <p style="font-size: 14px; text-align: left; margin-left: 20px; font-weight: bold; font-family: var(--notosans); color: white;">Email</p>
            <input type="email" id="emailInput">
            <p style="font-family: var(--notosans); color: white; font-size: 12px;">If the email matches, we will send an email with a confirmation link.</p>
            <button class="confirm" id="confirm1">Confirm</button>
        </div>
        <div class="passwordContainer" style="display: none;">
            <p style="font-size: 14px; text-align: left; margin-left: 20px; font-weight: bold; font-family: var(--notosans); color: white;">New Password</p>
            <input type="email" id="emailInput">
            <br><br>
            <button class="confirm" id="confirm2">Confirm</button>
        </div>
    </div>
</body>
</html>