<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/404.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="stylesheet" href="/static/styles/realLogin.css">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="/static/assets/favicon2.png" onclick="window.location = '/'" width="50px" height="50px"
            alt="Codestack Logo" class="logos_logoMain"
            style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = '/#codestack_why'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 35%;">Why?</span>
        <span class="topbarOption" onclick="window.location = '/#container_scrollerMain'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;">Get started</span>
        <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/marketplace/'"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 65%; ">Buy Now</span>
    </div>
    <div class="container_scrollerMain">
        <div style="position: absolute; width: 100%; height: 100%; top: 10%;">
            <div id="innitLogin" style="display: none">
                <h2 style="font-family: var(--notosans); color: yellow;">Initializing Login Pannel...</h2>
                <span id="loadingDots" style="font-size: 65px; color: white;"></span>
                <p class="text_description">Please wait!</p>
            </div>
            <div id="emailPannel" style="display: block;" class='loginPannel'>
                <div style="margin-left: 50px;">
                    <h2 style="font-family: var(--notosans);">Sign In</h2>
                    <b style="font-size: 12px;">Email or phone number</b>
                    <br>
                    <input id="emailInput" type="email">
                    <br><br>
                    <button id="nextButton" onclick="goToPassword()">Continue</button>
                    <br><br>
                    <a href='../signup.html'
                        style="color: rgb(0, 136, 255); cursor: pointer; text-decoration: underline; font-size: 12px;">
                        Don't have an account?
                    </a>
                </div>
            </div>
            <div id="passwordPannel" class='loginPannel' style="display: none;">
                <div style="margin-left: 50px;">
                    <h2 style="font-family: var(--notosans);">Sign In</h2>
                    <b style="font-size: 12px;">Password</b>
                    <br>
                    <input id="passwordInput" type="password">
                    <br><br>
                    <button id="nextButton" onclick="finishSignup()">Continue</button>
                    <br><br>
                    <a style="color: rgb(0, 136, 255); cursor: pointer; text-decoration: underline; font-size: 12px;">
                        Forgot password?
                    </a>
                    <br>
                    <a onclick="showHidePswrd()"
                        style="color: rgb(0, 136, 255); cursor: pointer; text-decoration: underline; font-size: 12px;">
                        Show/Hide password
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modalPopup" id="modal_erroremail">
        <br>
        <span class="modalTitle">Email/Password invalid.</span>
        <br>
        <p class="modalDesc">Please try again.</p>
        <button class="modalOk" onclick="hideModal()">Done</button>
    </div>
    <div class=" shade">
    </div>
    <img src="/static/assets/loading.gif" id="loadingGif" height="120px" width="120px"
        style="display: none; position: fixed; transform: translate(-50%, -50%); top: 50%; left: 50%; z-index: 999;">
    <script src="/static/scripts/loaders/loader.js"></script>
    <script src="/static/scripts/utils/forge.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script>
        var loading = false;
        _(".shade").css("scale", "1")
        _("#loadingGif").show()
        loading = true;
        setTimeout(() => {
            loading = false;
            _("#loadingGif").hide()
            _(".shade").css("scale", "0")
        }, Math.random() * (1200 - 550) + 550);

        if (document.URL.includes("?true")) {
            _("#passwordPannel").show()
            _("#emailPannel").hide()
        }

        function showHidePswrd() {
            if (_("#passwordInput").getAttribute("type") == "password") {
                _("#passwordInput").setAttribute("type", "text")
            } else {
                _("#passwordInput").setAttribute("type", "password")
            }
        }

        _("#emailInput").addEventListener("keydown", (e) => {
            if (e.keyCode == 13) {
                goToPassword();
            } else if (e.keyCode == 32) {
                e.preventDefault()
                _("#emailInput").value += "-"
            }
        })

        _("#loadingDots").iText(".")
        setTimeout(() => {
            _("#loadingDots").iText("..")
            setTimeout(() => {
                _("#loadingDots").iText("..")
                setTimeout(() => {
                    _("#loadingDots").iText("...")
                    setTimeout(() => {
                        _("#innitLogin").hide()
                        _("#emailPannel").show()
                    }, 500)
                }, 200)
            }, 200)
        }, 500)

        function goToPassword() {
            if (!validateEmail(_("#emailInput").value) && !validatePhone(_("#emailInput").value) || !validatePhone(_("#emailInput").value) && !validateEmail(_("#emailInput").value)) {
                _(".shade").css("scale", "1")
                _("#modal_erroremail").css("scale", "1")
                return
            }
            if (validateEmail(_("#emailInput").value) && !validatePhone(_("#emailInput").value)) {
                window.location = `
            /login?true-email-${_("#emailInput").value}
            `
            } else {
                window.location = `
            /login?true-phone-${_("#emailInput").value}
            `
            }

        }

        document.addEventListener("keydown", (e) => {
            if (e.keyCode == 27 && !loading) hideModal();
        })

        function finishSignup() {
            const email = document.URL.split("?true-email-")[1].replace("-pswrd-" + document.URL.split("-pswrd-")[1], "")
            const password = _("#passwordInput").value;
            const phone = document.URL.split("?true-phone-")
            var auth = {{auth}}
            if(auth == 'pass') {
                window.location = `/`
            }
            if(auth=='fail') {
                _(".shade").css("scale", "1")
                _("#modal_erroremail").css("scale", "1")
                return
            }
            if (phone == document.URL) {
                phone = "none"
            }
            postData("/login", { email: email, phone: phone, password: password })
                .then((data) => {
                    console.dir(data);
                    // redirect to
                })
            window.location = '/'
            }


        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return response.json();
        }
    </script>
</body>

</html>