<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/404.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="stylesheet" href="/static/styles/realLogin.css">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="/static/assets/favicon2.png" onclick="window.location = '/'" width="50px" height="50px"
            alt="Codestack Logo" class="logos_logoMain"
            style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = 'index.html#codestack_why'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 35%;">Why?</span>
        <span class="topbarOption" onclick="window.location = ''" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;">Get started</span>
        <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/marketplace/'"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 65%; ">Marketplace</span>
    </div>
    <div class="container_scrollerMain">
        <div style="position: absolute; width: 100%; height: 100%; top: 10%;">
            <div id="innitLogin" style="display: none">
                <h2 style="font-family: var(--notosans); color: yellow;">Initializing Login Pannel...</h2>
                <span id="loadingDots" style="font-size: 65px; color: white;"></span>
                <p class="text_description">Please wait!</p>
            </div>
            <div id="emailPannel" style="display: block;" class='loginPannel'>
                <div style="margin-left: 50px;">
                    <h2 style="font-family: var(--notosans);">Create an account</h2>
                    <b style="font-size: 12px;">Email or phone number</b>
                    <br>
                    <input id="emailInput" type="email">
                    <br><br>
                    <button id="nextButton" onclick="goToName()">Continue</button>
                    <br><br>
                    <a style="color: rgb(0, 106, 255); cursor: pointer; text-decoration: underline; font-size: 12px;"
                        href="account/login">
                        Already have an account?
                    </a>
                </div>
            </div>
            <div id="namePannel" class="loginPannel" style="display: none;">
                <div style="margin-left: 50px;">
                    <h2 style="font-family: var(--notosans);">Create an account</h2>
                    <b style="font-size: 12px;">First Name</b>
                    <br>
                    <input id="fName" type="text">
                    <br><br>
                    <b style="font-size: 12px;">Last Name</b>
                    <br>
                    <input type="text" id="lName">
                    <br><br>
                    <button id="nextButton" onclick="goToPassword()">Continue</button>
                    <br><br>
                    <a style="color: rgb(0, 106, 255); cursor: pointer; text-decoration: underline; font-size: 12px;"
                        href="account/login">
                        Already have an account?
                    </a>
                </div>
            </div>
            <div id="passwordPannel" class='loginPannel' style="display: none;">
                <div style="margin-left: 50px;">
                    <h2 style="font-family: var(--notosans);">Create an account</h2>
                    <b style="font-size: 12px;">Password</b>
                    <br>
                    <input id="passwordInput" type="password">
                    <br><br>
                    <button id="nextButton" onclick="reviewLogin()">Continue</button>
                    <br><br>
                    <a onclick="showHidePswrd()"
                        style="color: rgb(0, 136, 255); cursor: pointer; text-decoration: underline; font-size: 12px;">
                        Show/Hide password
                    </a>
                </div>
            </div>
            <div class="loginPannel" id="reviewDataPannel" style="display: none; height: 450px;">
                <div style="margin-left: 50px;">
                    <h2 style="font-family: var(--notosans);">Review your data</h2>
                    <b style="font-size: 12px;">First Name & Last Name</b>
                    <br>
                    <input type="text" id="rNameInput" disabled>
                    <br>
                    <b style="font-size: 12px;">Email or phone number</b>
                    <br>
                    <input id="rEmailInput" disabled type="text">
                    <br>
                    <b style="font-size: 12px;">Password</b>
                    <br>
                    <input id="rPswrdInput" disabled type="text">
                    <br><br>
                    <button id="nextButton" onclick="finishSignup()">All Good!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modalPopup" id="modal_erroremail">
        <br>
        <span class="modalTitle">Email/Password/Names invalid.</span>
        <br>
        <p class="modalDesc">Please try again.</p>
        <button class="modalOk" onclick="hideModal()"">Done</button>
    </div>
    <div class=" shade">
    </div>
    <img src="/static/assets/loading.gif" id="loadingGif" height="120px" width="120px"
        style="display: none; position: fixed; transform: translate(-50%, -50%); top: 50%; left: 50%; z-index: 999;">
    <script src="/static/scripts/loaders/loader.js"></script>
    <script src="/static/scripts/utils/forge.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script>
        var loading = false;
        _(".shade").css("scale", "1")
        _("#loadingGif").show()
        loading = true;
        setTimeout(() => {
            loading = false;
            _("#loadingGif").hide()
            _(".shade").css("scale", "0")
        }, Math.random() * (1200 - 550) + 550);

        if (document.URL.includes("?s=2") && !sessionStorage.getItem("password")) {
            _("#namePannel").show()
            _("#emailPannel").hide()
        }
        
        if (document.URL.includes("?s=3") && !sessionStorage.getItem("password")) {
            _("#passwordPannel").show()
            _("#emailPannel").hide()
        }

        if (sessionStorage.getItem("password")) {
            // show pannels
            _("#emailPannel").hide()
            _("#reviewDataPannel").show()

            // set inputs

            let password = sessionStorage.getItem("password").asciiStr();
            let filler = "";
            for (let i = 0; i < password.length - 3; i++) {
                filler += "*"
            }

            _("#rEmailInput").value = sessionStorage.getItem("email") || sessionStorage.getItem("phone")
            _("#rPswrdInput").value = filler + password.slice(-3);
            _("#rNameInput").value = sessionStorage.getItem("fname") + " " + sessionStorage.getItem("lname")
        }

        function showHidePswrd() {
            if (_("#passwordInput").getAttribute("type") == "password") {
                _("#passwordInput").setAttribute("type", "text")
            } else {
                _("#passwordInput").setAttribute("type", "password")
            }
        }

        _("#emailInput").addEventListener("keydown", (e) => {
            if (e.keyCode == 13) {
                goToName();
            } else if (e.keyCode == 32) {
                e.preventDefault()
                _("#emailInput").value += "-"
            }
        })

        _("#passwordInput").addEventListener("keydown", (e) => {
            if (e.keyCode == 13) reviewLogin();
        })

        function reviewLogin() {
            sessionStorage.setItem("password", _("#passwordInput").value.ascii());
            window.location = "?s=4"
        }

        _("#loadingDots").iText(".")
        setTimeout(() => {
            _("#loadingDots").iText("..")
            setTimeout(() => {
                _("#loadingDots").iText("..")
                setTimeout(() => {
                    _("#loadingDots").iText("...")
                    setTimeout(() => {
                        _("#innitLogin").hide()
                        _("#emailPannel").show()
                    }, 500)
                }, 200)
            }, 200)
        }, 500)

        function goToPassword() {
            if (_("#fName").value.replaceAll(" ", "") == "" && _("#lName").value.replaceAll(" ", "") == "") {
                _(".shade").css("scale", "1")
                _("#modal_erroremail").css("scale", "1")
                return
            }
            var specialChars =  /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
            if (_("#fName").value.match(specialChars) || _("#lName").value.match(specialChars)) {
                _(".shade").css("scale", "1")
                _("#modal_erroremail").css("scale", "1")
                return
            }
            sessionStorage.setItem("fname", _("#fName").value)
            sessionStorage.setItem("lname", _("#lName").value)
            window.location = "?s=3"
        }

        document.addEventListener("keydown", (e) => {
            if (e.keyCode == 27 && !loading) hideModal();
        })

        function finishSignup() {
            try {
                const email = sessionStorage.getItem("email") || "none"
                const password = sessionStorage.getItem("password").asciiStr();
                const fname = sessionStorage.getItem("fname")
                const lname = sessionStorage.getItem("lname")
                const phone = sessionStorage.getItem("phone") || "none"
                postData("/verify", { email: email, phone: phone, password: password, fname: fname, lname: lname })
                    .then((data) => {
                        console.dir(data);
                        postData("/getauth", { email: email })
                            .then((data) => {
                                console.dir(data);
                                window.location = '/getauth'
                            })
                    .catch(err => {
                        console.error(err);
                        console.dir(data);
                        alert("An error has occured! Please check debug console for more information. If this keeps happening, please contact support.")
                    })
            })
            .catch(err => {
                console.error(err);
                console.dir(data);
                alert("An error has occured! Please check debug console for more information. If this keeps happening, please contact support.")
            })
            } 
            catch (err) {
                console.error(err);
                alert("An error has occured! Please check debug console for more information. If this keeps happening, please contact support.")
            }
        }

        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return response.json();
        }

        function goToName(){
            if (!validateEmail(_("#emailInput").value) && !validatePhone(_("#emailInput").value) || !validatePhone(_("#emailInput").value) && !validateEmail(_("#emailInput").value)) {
                _(".shade").css("scale", "1")                
                _("#modal_erroremail").css("scale", "1")
                return
            }

            if (validateEmail(_("#emailInput").value) && !validatePhone(_("#emailInput").value)) {
                sessionStorage.setItem("email", _("#emailInput").value);
            } else {
                sessionStorage.setItem("phone", _("#emailInput").value);
            }
            sessionStorage.setItem("fname", _("#fName").value)
            sessionStorage.setItem("lname", _("#lName").value)
            window.location = "?s=2"
        }
        
    </script>
</body>

</html>