<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack - Sudo Mode</title>
    <link rel="stylesheet" href="static/styles/sudo.css">
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
    <div class="container">
        <img src="static/assets/favicon2.png" alt="Codestack Logo" height="75px" width="75px">
        <p class="containerTitle">Confirm Password</p>
        <div class="passwordContainer">
            <p style="font-size: 14px; text-align: left; margin-left: 20px; font-weight: bold; font-family: var(--notosans); color: white;">Password</p>
            <input type="password" id="passwordInput">
            <p class="forgot">Forgot Password?</p>
            <button class="confirm">Confirm</button>
        </div>
        <p class="funFact"><b>Fun Fact:</b> You are entering <code style="color: rgb(0, 89, 255);">sudo mode</code>. After confirming your identity, you won't have to re-authorize again for a period of time.</p>
    </div>
</body>
</html>