<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack License</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="shortcut icon" href="static/assets/favicon2.ico"> 
    <link rel="stylesheet" href="/static/styles/license.css">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="/static/assets/favicon2.png" onclick="window.location = '/'" width="50px" height="50px"
            alt="Codestack Logo" class="logos_logoMain"
            style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = '#codestack_why'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 30%;">Why?</span>
        <span class="topbarOption" onclick="window.location = '/signup'" id="tBar_op_start"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 45%;">Get started</span>
        <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/soon'"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 60%; ">Marketplace</span>
        <span id="loginTBarOption"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; right: 3%; color: #c44a56; cursor: pointer; font-family: var(--poppins);">{%if
            session["username"]%}<span class="helloUname">Hello, {{ session["username"] }}.</span>{%else%}<a
                href="{{ url_for('login') }}">Login</a>{%endif%}</span>
    </div>
    <div class="container_scrollerMain">
        <h1>Codestack License</h1>
        <p><a href="/licenseRaw" target="_blank">View Raw</a></p>
        <hr>
        <div class="license">
            <p>Proprietary License</p>

            <p>
                Copyright (c) 2023 codestack-market, Avneh Bhatia, Elijah Bantugan, Prashast Bhatia</p>

            <p>
                In no way, shape, or form shall the contents of the file(s) contained in CodeStack MarketPlace 
                be duplicated, shared, or changed unless done by its respective owners. If this is infracted upon, 
                legal action will be taken to the fullest extent.
            </p>

            <p>
                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.
            </p>

            <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>
        </div>
    </div>
</body>

</html>
