@import url("https://fonts.googleapis.com/css?family=Poppins"); /* Main text font */
@import url("https://fonts.googleapis.com/css?family=Noto%20Sans"); /* Main title font */

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000000;
        --tobarBg: #ed9863;
        --poppins: 'Poppins', serif;
        --notosans: 'Noto Sans', serif;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #ffffff;
        --tobarBg: #f0ac6c;
        --poppins: 'Poppins', serif;
        --notosans: 'Noto Sans', serif;
    }
}

.titles_mainTitle {
    font-family: 'Noto Sans', serif;

}

.titles_largeTitle {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Noto Sans', serif;
}

.bars_topMain {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: var(--tobarBg);
}

.container_scrollerMain {
    position: fixed;
    left: 0%;
    top: 10%;
    width: 100%;
    height: 90%;
    text-align: center;
}

.links_mainLink {
    color: #4a8abe;
    text-decoration: underline;
}

.links_mainLink_nounderline {
    color: #4a8abe;
    text-decoration: none;
}