<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketplace - Catalog</title>
  <link rel="stylesheet" href="/static/styles/marketplace.css">
  <link rel="stylesheet" href="/static/styles/main.css">
</head>

<body>
  <div class="bars_topMain">
    <br>
    <img src="/static/assets/favicon2.png" onclick="window.location = '/'" width="50px" height="50px"
      alt="Codestack Logo" class="logos_logoMain"
      style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
    <span class="topbarOption" onclick="window.location = '/#codestack_why'" id="topbarOption_why"
      style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 30%;">Why?</span>
    <span class="topbarOption" onclick="window.location = '/signup'" id="tBar_op_start"
      style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 45%;">Get started</span>
    <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/soon'"
      style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 60%; ">Marketplace</span>
    <span id="loginTBarOption"
      style="position: absolute; transform: translate(-50%, -50%); top: 50%; right: 3%; color: #c44a56; cursor: pointer; font-family: var(--poppins);">{%if
      session["username"]%}<span class="helloUname">Hello, {{ session["username"] }}.</span>{%else%}<a
        href="{{ url_for('login') }}">Login</a>{%endif%}</span>
  </div>
  <div class="container_scrollerMain" id="container_scrollerMain" style="scroll-behavior: smooth;">
    <div class="items">
      <div class="itemContainer">
        <div class="itemImgPreview" id="uniqueItemId">
          <img src="/static/assets/temp-preview.png" class="imagePreview">
        </div>
        <div class="itemDetails">
          <span class="itemTitle">Some product</span>
          <br>
          <span class="itemRating">
            <img class="ratingstar verticalMiddle" src="/static/assets/rating-star.png" height="20px" width="20px">
            <span class="verticalMiddle">4.5 Rating</span>
            <span class="verticalMiddle ratingAmount">16k Ratings</span>
          </span>
          <br>
          <span class="sellerName">ghwosty</span>
          <br>
          <span class="itemDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
          </span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>