<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace - [item name]</title>
    <link rel="stylesheet" href="/static/styles/marketplace-item.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="/static/assets/favicon2.png" onclick="window.location = ''" width="50px" height="50px"
            alt="Codestack Logo" class="logos_logoMain"
            style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = '#codestack_why'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 30%;">Why?</span>
        <span class="topbarOption" onclick="window.location = '/signup'" id="tBar_op_start"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 45%;">Get started</span>
        <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/soon'"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 60%; ">Marketplace</span>
        <span id="loginTBarOption"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; right: 3%; color: #c44a56; cursor: pointer; font-family: var(--poppins);">{%if
            session["username"]%}<span class="helloUname">Hello, {{ session["username"] }}.</span>{%else%}<a
                href="{{ url_for('login') }}">Login</a>{%endif%}</span>
    </div>
    <div class="container_scrollerMain" id="container_scrollerMain" style="scroll-behavior: smooth;">
        <div class="itemInfo">
            <div class="sellerInfo">
                <h1 class="itemTitle">Some program</h1>
                <p id="sellerRating">
                    <span class="sellerLink">ghwosty</span>
                    <span class="itemRating">
                        <img class="ratingstar" src="/static/assets/rating-star.png" height="20px" width="20px"> <span
                            class="ratingValue">4.5 Rating</span>
                    </span>
                </p>
            </div>
            <br>
            <div class="itemDescription">
                <div class="priceDetails">
                    <span class="priceDealPercentage">-20%</span> <span class="priceActual">$<span
                            id="dollar">7</span>.<span id="cents">89</span> <span id="priceCopiedText">Price copied to
                            clipboard</span></span>
                    <input id="priceCopy" type="text" style="display: none;" value="$7.89">
                </div>
                <div class="descriptionBody">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies. Scelerisque fermentum dui faucibus in ornare quam viverra. In metus vulputate eu scelerisque felis imperdiet proin fermentum. Aliquet nibh praesent tristique magna sit. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Maecenas accumsan lacus vel facilisis volutpat est. Tempus iaculis urna id volutpat lacus laoreet. Orci eu lobortis elementum nibh tellus molestie nunc. Ut sem viverra aliquet eget sit amet tellus cras adipiscing. Proin fermentum leo vel orci porta. Scelerisque in dictum non consectetur a erat. Lacus luctus accumsan tortor posuere ac ut consequat semper.
                </div>
            </div>
        </div>
        <div class="image-preview">
            <img src="/static/assets/temp-preview.png" class="previewImage">
        </div>
    </div>
    <script src="/static/scripts/utils/forge.js"></script>
    <script>
        _(".priceActual").addEventListener("click", () => {
            _("#priceCopiedText").show();
            try {
            var copyText = _("#priceCopy");

            copyText.select();
            copyText.setSelectionRange(0, 99999); 
            navigator.clipboard.writeText(copyText.value);
            } catch (err) {
                _("#priceCopiedText").innerHTML = `Failed to copy price.<br> ${err}<br>HTTPS connection required.`
            }
        })
    </script>
</body>

</html>