<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack - Support</title>
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/robo-support.css">
    <link rel="shortcut icon" href="static/assets/favicon2.ico">
</head>
<body>
    <div class="supportTopBar">
        <img src="static/assets/favicon2.png" alt="Codestack Logo" height="50px" width="50px" style="vertical-align: middle; cursor: pointer;" onclick="window.location = '/'">
        <span class="supportTopBarTitle">Codestack Support</span>
    </div>
    <div class="container_scrollerMain" style="top: 50px;">
        <div class="chatContainer">
            <div class="messageContainer">
            </div>
            <div class="chatInputContainer">
                <input class="chatInput" type="text" placeholder="Message Support Robot"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="25px" id="sentbutton">
                    <g>
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path d="M3 13h6v-2H3V1.846a.5.5 0 0 1 .741-.438l18.462 10.154a.5.5 0 0 1 0 .876L3.741 22.592A.5.5 0 0 1 3 22.154V13z" fill="#4281f5"></path>
                    </g>
                  </svg>
            </div>
        </div>
    </div>
</body>
</html>