<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack - Support</title>
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/support.css">
</head>
<body>
    <div class="supportTopBar">
        <img src="static/assets/favicon2.png" alt="Codestack Logo" height="50px" width="50px" style="vertical-align: middle; cursor: pointer;" onclick="window.location = '/'">
        <span class="supportTopBarTitle">Codestack Support</span>
    </div>
    <div class="container">
        <br>
        <h1 class="supportTitle">{%if session["username"]%}Hello, {{ session["username"] }}. How can we help you today?{%else%}Hello, how can we help you today?{%endif%}</h1>
        <svg class="octicon octicon-search subnav-search-icon mt-1" height="26" viewBox="0 0 16 16" version="1.1" width="26" aria-hidden="true"><path fill="white" fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path></svg>
        <input type="text" id="articleSearch" placeholder="Search for any article in the Codestack library">
    </div>
</body>
</html>