<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings - CodestackMarket</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/settings/sopt.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
</head>
<body>
    <div class="container">
        <h1>Change Account Settings</h1>
        <div class="settingsOptions">
            <span class="settingsTitle">Name</span>
            <button class="settingsEditBtn" align="right">Edit</button>
            <div class="settingsDescription">The name attached to your Codestack Account.</div>
            <br>
        </div>
        <div class="settingsOptions">
            <span class="settingsTitle">Email/Phone Number</span>
            <button class="settingsEditBtn" align="right">Edit</button>
            <div class="settingsDescription">The email/phone number attached to your Codestack Account.</div>
            <br>
        </div>
        <div class="settingsOptions">
            <span class="settingsTitle">Password</span>
            <button class="settingsEditBtn" align="right">Edit</button>
            <div class="settingsDescription">The password attached to your Codestack Account.</div>
            <br>
        </div>
    </div>
    <script src="/static/scripts/utils/forge.js"></script>
    <script src="/static/scripts/settings/account.js"></script>
</body>
</html>