<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Settings - CodestackMarket</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/settings/sopt.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
</head>
<body>
    <p id="goBack" onclick="history.back();">Go Back</p>
    <div class="container">
        <h1>Change Payment Settings</h1>
        <p style="color: lightgray; font-family: monospace;">There are no available options for this setting at the moment.</p>
        <p style="color: lightgray; font-family: monospace;">Please check again later.</p>
    </div>
    <script src="/static/scripts/utils/forge.js"></script>
    <script src="/static/scripts/settings/account.js"></script>
</body>
</html>