<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - CodeStack</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/settings/settings.css">
</head>
<body>
    <div id="welcome">
        <span>
            {%if session["username"]%}Welcome, {{ session["username"] }}{%else%}<script>window.location = '/'</script>{%endif%}
        </span>
    </div>
    <div id="settingsOptions" onclick="window.location = '/settings/account'">
        <div class="settingBtn" data="account">
            <span class="settingBtnTitle">Account</span>
            <hr width="85%">
            <span class="settingBtnDisc">
                View account settings...
            </span>
        </div>
        <div class="settingBtn" onclick="window.location = '/settings/payment'">
            <span class="settingBtnTitle">Payment</span>
            <hr width="85%">
            <span class="settingBtnDisc">View payment settings...</span>
        </div>
    </div>
    <script src="/static/scripts/utils/forge.js"></script>
</body>
</html>