<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - CodeStack</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/settings/settings.css">
</head>
<body>
    <div id="welcome">
        <span>
            Welcome, someone!
        </span>
    </div>
    <div id="settingsOptions"></div>
</body>
</html>