#welcome {
    color: white;
    border: 1px solid gray;
    border-radius: 10px / 5px;
    height: 100px;
    width: 500px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
    position: fixed;
}

#welcome span {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: var(--notosans);
    font-size: 24px;
}

#settingsOptions {
    position: fixed;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 85%;
    border: 1px solid gray;
    border-radius: 10px / 5px;
    left: 50%;
    top: 70%;
}