<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whoops!</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/404.css">
</head>

<body>
    <div class="bars_topMain"></div>
    <div class="container_scrollerMain">
        <h1 class="titles_404label">404</h1>
        <h1 class="titles_mainTitle titles_404notfound">Page not found!</h1>
        <div class="scroller_404info">
            <p>We have no idea how you got here...</p>
            <p>But you can find your way back...</p>
            <p><a href="./index.html" class="links_mainLink"><i>Return to home</i></a></p>
        </div>
    </div>

    <script src="scripts/loaders/loader.js"></script>
</body>

</html>