<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whoops!</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/404.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="/static/assets/favicon2.png" onclick="window.location = '/'" width="50px" height="50px" alt="Codestack Logo"
            class="logos_logoMain"
            style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = '/#codestack_why'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 35%;">Why?</span>
        <span class="topbarOption" onclick="window.location = '/signup'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;">Get started</span>
        <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/soon'"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 65%; ">Buy Now</span>
    </div>
    <div class="container_scrollerMain">
        <div style="position: absolute; width: 100%; height: 100%; top: 10%;">
            <h1 class="titles_404label">404</h1>
            <h1 class="titles_mainTitle titles_404notfound" style="color: white;">Too many requests!</h1>
            <div class="scroller_404info">
                <p class="text_description">As we get more customers, we are working to upscale our systems!</p>
                <p class="text_description">Sorry about that...</p>
                <p><a href="/" class="links_mainLink"><i>Return to home</i></a></p>
            </div>
        </div>
    </div>

    <script src="/static/scripts/loaders/loader.js"></script>
</body>

</html>
