<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestack Market - The place for all your coding needs</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="assets/favicon.png" onclick="window.location = ''" width="50px" height="50px" alt="Codestack Logo" class="logos_logoMain" style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = '#container_scrollerMain'" id="topbarOption_why">Why?</span>
        <span class="topbarOption" onclick="window.location = '#container_scrollerMain'" id="topbarOption_why" style="margin-left: 100px;">Get started</span>
        <span id="loginTBarOption" onclick="window.location = './login.html' " style="position: absolute; transform: translate(-50%, -50%); top: 50%; right: 3%; color: #c44a56; cursor: pointer; font-family: var(--poppins);">Sign in</span>
    </div>
    <div class="container_scrollerMain">
    </div>
    <script src="scripts/loaders/loader.js"></script>
    <script src="scripts/utils/forge.js"></script>
</body>

</html>