<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeStack Market - The place for all your coding needs</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="shortcut icon" href="/static/assets/favicon2.ico">
</head>

<body>
    <div class="bars_topMain">
        <br>
        <img src="/static/assets/favicon2.png" onclick="window.location = ''" width="50px" height="50px"
            alt="Codestack Logo" class="logos_logoMain"
            style="vertical-align: middle; font-family: var(--poppins); cursor: pointer; position: absolute; transform: translate(-50%, -50%); left: 3%; top: 50%;">
        <span class="topbarOption" onclick="window.location = '#codestack_why'" id="topbarOption_why"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 30%;">Why?</span>
        <span class="topbarOption" onclick="window.location = '/signup'" id="tBar_op_start"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 45%;">Get started</span>
        <span id="buyNTbarOption" class="topbarOption" onclick="window.location = '/soon'"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 60%; ">Marketplace</span>
        <span id="loginTBarOption"
            style="position: absolute; transform: translate(-50%, -50%); top: 50%; right: 3%; color: #c44a56; cursor: pointer; font-family: var(--poppins);">{%if
            session["username"]%}<span class="helloUname">Hello, {{ session["username"] }}.</span>{%else%}<a
                href="{{ url_for('login') }}">Login</a>{%endif%}</span>
    </div>
    <div class="popup_accountOptionsPopup" style="opacity: 0;">
        <p style="font-family: var(--notosans); font-size: 15px; text-align: center;"><b>{%if
                session["username"]%}<span>Hello, {{ session["username"] }}</span>{%else%}<a href='/account/login'
                    style="color: blue;">Login</a>{%endif%}</p>
        <hr style="width: 85%;">
        <br>
        <span class="acO_listItem">- Basket</span> <span class="acO_listItem">Account Settings -</span>
        <br>
        <span class="acO_listItem">- Orders</span> <span class="acO_listItem">Payment Info -</span>
        <br>
        <p style="text-align: center; margin: 0; margin-top: 20px;" class="acO_listItem" onclick="window.location = '/settings'">All Settings</p>
        <span id="logoutPopup" onclick="window.location='/logout'">Logout</span>
    </div>
    <div class="container_scrollerMain" id="container_scrollerMain" style="scroll-behavior: smooth;">
        <div style="position: absolute; top: 20%; width: 100%; height: 100%;">
            <img src="/static/assets/favicon2.png" height="120px" width="120px">
            <br>
            <span class="titles_mainTitle" style="color: white; font-size: 70px; font-weight: bold;">CodeStack</span>
            <p class="text_description" style="font-size: 20px;">
                A place for developers to easily locate & buy API's, code, and more!
            </p>
            <button class="openMarketButton" onclick="window.location ='/soon'">Marketplace</button>
            <br><br>
            <hr style="width: 85%;">
        </div>
        <div class="codestack_why" id="codestack_why" style="position: absolute; top: 100%; width: 100%; height: 100%;">
            <br>
            <span class="titles_mainTitle" style="color: white; font-size: 50px; font-weight: bold;">Why?</span>
            <div id="efficent_tab">
                <p class="text_description" style="font-size: 20px;">
                    Instead of having to search through the internet to find all the API's and code you need,
                    <br>
                    you can easily go through the organized codestack market!
                </p>
            </div>
        </div>
    </div>
    <div class="termsInfo">
        <p>Contact us: <a href="mailto:help.codestack@gmail.com" target="_blank">help.codestack@gmail.com</a></p>
        <p><a href="/tos">TOS</a> - <a href="/license">License</a> - <a href="/privacy">Privacy Policy</a></p>
    </div>
    <script src="/static/scripts/loaders/loader.js"></script>
    <script src="/static/scripts/utils/forge.js"></script>
    <script src="/static/scripts/index.js"></script>
    <script>
        window.addEventListener("load", function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("/static/scripts/utils/sw.js");
            };
        });
    </script>
</body>

</html>
