.titles_404notfound {
    position: absolute;
    transform: translate(-50% ,-50%);
    width: 100%;
    left: 50%;
    top: 15%;
    font-size: 70px;
}

.titles_404label {
    position: absolute;
    transform: translate(-50% ,-50%);
    width: 100%;
    left: 50%;
    top: 5%;
    font-size: 40px;
    font-style: italic;
    color: #4a8abe;
    font-family: var(--poppins);
}

.scroller_404info {
    position: absolute;
    transform: translate(-50% ,-50%);
    width: 100%;
    left: 50%;
    top: 55%;
    font-family: var(--poppins);
    font-size: 19px;
}

body {
    opacity: 0;
    transition: 1.5s;
}