body {
    opacity: 0;
    transition: 1.5s;
}

.popup_accountOptionsPopup {
    position: fixed;
    top: 8%;
    right: 2%;
    height: 200px;
    width: 300px;
    text-align: center;
    background-color: #ed9863;
    color: white;
    transition: 0.5s;
    text-align: left;
    z-index: 888;
}

.popup_accountOptionsPopup img {
    vertical-align: middle;
    margin-left: 10px;
}

.acO_listItem {
    margin-left: 25px;
    font-family: var(--poppins);
    vertical-align: middle;
    cursor: pointer;
    color: black;
}

.acO_listItem:hover {
    text-decoration: underline;
}

.helloUname {
    font-size: 18px;
}

#logoutPopup {
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    color: red;
    font-family: var(--notosans);
}

#logoutPopup:hover {
    text-decoration: underline;
}

.openMarketButton {
    font-family: var(--poppins);
    cursor: pointer;
    border-radius: 50px / 50px;
    transition: 0.5s;
    background-color: #4a8abe;
    color: white;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 17.5px;
}

.openMarketButton:hover {
    scale: 1.05;
}

.signinModal {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 90px;
    right: -2%;
    height: 80px;
    text-align: center;
    z-index: 9999;
    background-color: white;
    width: 200px;
    display: none;
}

.signinModal button {
    background-color: #ce5458;
    color: black;
    font-family: var(--poppins);
    border: 1px solid #c44a56;
    border-radius: 5px / 2.5px;
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
}

.signinModal span {
    font-size: 12px;
    position: absolute;
    bottom: 1.5%;
    width: 100%;
    left: 0%;
    font-family: var(--poppins);
}

#searchMarket {
    font-family: var(--poppins);
    height: 45px;
    width: 500px;
    border-radius: 10px / 5px;
    border: none;
    padding-left: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
}

#searchMarket:focus {
    border: 2px solid #ed9863;
}