body {
    opacity: 0;
    transition: 1.5s;
}

.popup_accountOptionsPopup {
    position: fixed;
    top: 8%;
    right: 2%;
    height: 200px;
    width: 300px;
    text-align: center;
    background-color: #ed9863;
    color: white;
    transition: 0.5s;
    text-align: left;
    z-index: 888;
}

.popup_accountOptionsPopup img {
    vertical-align: middle;
    margin-left: 10px;
}

.acO_listItem {
    margin-left: 25px;
    font-family: var(--poppins);
    vertical-align: middle;
    cursor: pointer;
    color: black;
}

.acO_listItem:hover {
    text-decoration: underline;
}

.helloUname {
    font-size: 18px;
}

#logoutPopup {
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    color: red;
    font-family: var(--notosans);
}

#logoutPopup:hover {
    text-decoration: underline;
}

.openMarketButton {
    font-family: var(--poppins);
    cursor: pointer;
    border-radius: 50px / 50px;
    transition: 0.5s;
    background-color: #4a8abe;
    color: white;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 17.5px;
}

.openMarketButton:hover {
    scale: 1.05;
}