@import url("https://fonts.googleapis.com/css?family=Poppins"); /* Main text font */
@import url("https://fonts.googleapis.com/css?family=Noto%20Sans"); /* Main title font */
@import url("https://fonts.googleapis.com/css?family=Lato");

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #3a3b3a;
        --tobarBg: #aa6337;
        --poppins: 'Poppins', serif;
        --notosans: 'Noto Sans', serif;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #bcbcbc;
        --tobarBg: #f0ac6c;
        --poppins: 'Poppins', serif;
        --notosans: 'Noto Sans', serif;
    }
}

body {
    background-color: var(--bg);
}

html {
    scroll-behavior: smooth;
}

.titles_mainTitle {
    font-family: 'Noto Sans', serif;

}

::-webkit-scrollbar {
    display: none;
}

.titles_largeTitle {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Noto Sans', serif;
}

.bars_topMain {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: #4a8abe;
    text-align: center;
}

.container_scrollerMain {
    position: fixed;
    left: 0%;
    top: 10%;
    width: 100%;
    height: 90%;
    text-align: center;
    overflow: scroll;
}

.links_mainLink {
    color: #4a8abe;
    text-decoration: underline;
}

.links_mainLink_nounderline {
    color: #4a8abe;
    text-decoration: none;
}

.topbarOption {
    vertical-align: middle;
    font-family: var(--poppins);
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.topbarOption:hover {
    text-decoration: underline;
}

.bars_topMain:hover {
    text-decoration: underline;
}

.text_description {
    color: rgb(143, 141, 141);
    font-family: var(--poppins);
}

input:focus, textarea:focus {
    outline: 0;
}

.modalPopup {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: #303131;
    width: 600px;
    height: 400px;
    color: white;
    scale: 0;
    transition: 0.3s;
    text-align: left;
}

.shade {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: silver;
    opacity: 0.4;
    z-index: 99;
    scale: 0;
    transition: 0.3s;
}

.modalTitle {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--notosans);
    margin-left: 20px;
}

.modalDesc {
    color: rgb(147, 145, 145);
    font-family: var(--poppins);
    font-size: 16px;
    margin-left: 20px;
}

.modalOk {
    color: white;
    font-family: var(--poppins);
    font-size: 16px;
    background-color: #4a8abe;
    position: absolute;
    right: 2%;
    bottom: 2%;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 2%;
}