.itemInfo {
    position: fixed;
    transform: translate(-50%, -50%);
    right: 0%;
    top: 50%;
    width: 500px;
    text-align: left;
}

.previewImage {
    max-height: 1000px;
    max-width: 1000px;
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.19);
}

.image-preview {
    position: fixed;
    transform: translate(0%, -50%);
    left: 3%;
    top: 50%;
}

.itemTitle {
    color: white;
    font-family: var(--notosans);
}

.sellerInfo {
    border-bottom: 1px solid gray;
}

.sellerLink:hover {
    text-decoration: underline;
}

.sellerLink {
    color: rgb(0, 140, 255);
    cursor: pointer;
    font-family: var(--notosans);
}

.ratingstar {
    vertical-align: middle;
    margin-left: 20px;
}

.ratingValue {
    vertical-align: middle;
    color: yellow;
    font-family: var(--poppins);
}

.itemRating {
    position: absolute;
    right: 0%;
}

.priceDealPercentage {
    color: rgb(245, 48, 48);
    font-size: 25px;
    font-family: var(--poppins);
}

.priceActual {
    font-size: 25px;
    font-family: var(--notosans);
    margin-left: 25px;
    cursor: pointer;
    color: green;
}

#priceCopiedText {
    font-family: var(--poppins);
    font-size: 12px;
    color: black;
    vertical-align: middle;
    margin-left: 5px;
    cursor: default;
    display: none;
}

.descriptionBody {
    font-family: var(--poppins);
    font-size: 13px;
    color: lightgray;
    margin-top: 5px;
}

.buyButtons {
    margin-top: 15px;
}

.addCart {
    color: black;
    font-family: var(--notosans);
    background-color: #d65c60;
    border: none;
    border-radius: 10px / 5px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
}

.buyNow {
    color: black;
    font-family: var(--notosans);
    background-color: #c44a56;
    border: none;
    border-radius: 10px / 5px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    margin-left: 25px;
    font-size: 15px;
}

.oldPrice {
    color: black;
    font-size: 17px;
    text-decoration: line-through;
}

button:hover {
    scale: 1.1;
}

button {
    transition: 0.5s;
    outline: 0;
}

@media only screen and (max-width: 1024px) {
    .previewImage {
        max-width: 400px;
        max-height: 400px;
    }
    .image-preview {
        top: 30%;
    }
    .itemInfo {
        top: 70%;
        left: 50%;
        width: 300px;
        overflow: scroll;
        height: 400px;
    }
    .bbBreak {
        display: block !important;
    }
    .buyNow {
        margin-left: 0px !important;
    }
    body {
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 1025px) {
    .previewImage {
        max-width: 1000px;
        max-height: 1000px;
    }
}

@media only screen and (min-width: 2304px) {
    .previewImage {
        max-width: 1500px;
        max-height: 1500px;
    }
}
