.imagePreview {
    max-width: 250px;
    max-height: 300px;
}

.itemDetails {
    text-align: left;
}

.container_scrollerMain {
    text-align: left !important;
}

.items {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.itemTitle {
    font-family: var(--notosans);
    color: rgb(238, 238, 238);
}

.itemContainer {
    margin-left: 15px;
    width: 250px;
    padding-left: 7px;
    padding-right: 2px;
    padding-top: 2px;
    cursor: pointer;
}

.ratingAmount {
    color: rgb(0, 110, 255);
    font-size: 13.5px;
}

.sellerName {
    font-family: var(--notosans);
    color: rgb(0, 110, 255);
    font-size: 13.5px;
}

.itemDescription {
    font-family: var(--poppins);
    font-size: 13.5px;
    color: rgb(12, 11, 11);
}

.itemRating {
    color: yellow;
    font-family: var(--poppins);
}

.ratingstar {
    vertical-align: middle;
}

#searchMarketInput {
    font-family: var(--poppins);
    font-size: 14px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 50%;
    width: 70%;
    height: 35px;
    border-radius: 10px / 5px;
    border: 2px solid transparent;
    transition: .3s;
    padding-left: 15px;
}

#searchMarketInput:focus {
    border: 2px solid #ed9863;
}