@import url("https://fonts.googleapis.com/css?family=Lato");

.loginPannel {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    width: 550px;
    height: 325px;
    background-color: white;
    text-align: left;
    font-family: var(--notosans);
}

#emailInput, #passwordInput {
    height: 25px;
    width: 85%;
    font-size: 16px;
    margin-top: 5px;
    border: 1.5px solid gray;
}

#nextButton {
    color: black;
    font-family: 'Noto Sans', serif;
    background-color: #ce5458;
    border: 1px solid #c44a56;
    border-radius: 3%;
    cursor: pointer;
    text-align: center;
    width: 85%;
    height: 35px;
}

#continueButton {
    color: black;
    font-family: 'Noto Sans', serif;
    background-color: #ce5458;
    border: 1px solid #c44a56;
    border-radius: 3%;
    cursor: pointer;
    text-align: center;
    width: 85%;
    height: 35px;
}

#passButton {
    color: black;
    font-family: 'Noto Sans', serif;
    background-color: #ce5458;
    border: 1px solid #c44a56;
    border-radius: 3%;
    cursor: pointer;
    text-align: center;
    width: 85%;
    height: 35px;
}

button:focus {
    outline: 0;
}